version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: crypto-tracker-app
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - backend/.env # Assuming .env is in the backend folder
    environment:
      - NODE_ENV=production
      - PORT=5000
      # This URI points to the mongo service below
      - MONGODB_URI=mongodb://mongo:27017/cryptocurrency-tracker
    depends_on:
      - mongo

  # This service runs the MongoDB database
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: